$white: #ffffff;
.white { color: $white; }
.bg-white { background-color: $white; }

$black: #111111;
.black { color: $black; }
.bg-black { background-color: $black; }

$background: #575757;
.background { color: $background; }
.bg-background { background-color: $background; }
